# ignore snakemake
.snakemake/
.snakemake.*
.wBuild*

# ignore slurm
slurm-*

# ignore R files
.RData
.Rhistory
.RDS
Rplots.pdf

#ignore RStudio files
*.Rproj
*.Rproj.user

.Rproj.user

# ignore logs
logs/

# ignore misc files
src/R/misc

# ignore Output folder
Output

# ignore internal wbuild config yaml
wbuild_interal.yaml

